.index h1{
    color: blue;
    text-align: center;
}

.index p{
    font-family: Verdana;
    font-size: 16px;
}

.index img{
    border-radius: 10px;
    box-shadow: 10px 10px 5px #a87878;
}


.index nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

.index ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.index nav a{
    text-decoration: none;
    color: white;
}

#actife{
    background: green;
    color: white;
    padding: 14px 16px;

}


.presentation h1,p{
    font-family: Verdana;
}